<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Woco2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>insert.jsp</welcome-file>
  </welcome-file-list>
</web-app>

<!--   
CSE532  Project 2
File name: web.xml
Author(s): Harshini Kanaparthi (112687951 )
Meghana vemulapalli (112670836 )
Brief description: This file is the sevlet file that uses the post gres connection object and executes the queries in the database,
retrieves the results and display them in the UI on the request from user via clicking buttons
-->